<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap="http://phonegap.com/ns/1.0"
    id="com.phonegap.example"
    versionCode="1"
    version="0.0.1">

    <name>LibrePlan App</name>

    <description>
    LibrePlan mobile app
    </description>

    <author href="http://www.libreplan.com/" email="rego@igalia.com">
        Manuel Rego Casasnovas
    </author>

    <icon src="icon.png" gap:role="default" />

    <preference name="permissions" value="none"/>
    <preference name="phonegap-version" value="2.1.0" />
</widget>
